Data/
OldData/
00_generate_df.Rmd
01_build_model.Rmd
02_predict.Rmd
03_visu.Rmd
CNN.qmd
common.R
conda_config.sh
Documentation/
NN.qmd
OldDataOutput/
Output/
Output_test/
Papers/
Projet.Rproj
Python/
Rapport.html
README.md
Results.qmd
SVM_param.qmd
Testing_script.nb.html
testing_script.qmd
Work.qmd
Work.rmarkdown
ReducedOutput/
.RData
.Rhistory
.Rproj.user/